*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

capabilities.log
temp*
amoba_samples
*.log
*.err
*.out
cpp_loadmodel/tflib*
cpp_loadmodel/build*
cpp_loadmodel/checkpoint*
cpp_loadmodel/cppflow*
*.pb*
